.note-container {
    margin-top: 20px;
    grid-template-columns: repeat(auto-fill,300px);
    grid-gap: 19px;
}

.note{
    background-color: aqua;
    height: 100%;
    border-radius: 10%;
    padding: 15px;
    border: solid 1px;
}

.note-btns{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
}



.note:hover{
    box-shadow: 0px 0px 0px 2px rgba(171,166,166,0.75);
}

.note-btn {
    background-color: rgba(32, 125, 102, 0);
    border: none;
}

.add-note-section{
    width: 30vw;
}

.note-btn:hover{
    background-color: rgb(0 0 0 / 54%);
    border-radius: 50%;
}

.note-app-main{
    grid-template-columns: 1fr 4fr;
}

aside{
    padding-top: 10%;
    padding-left: 30px;
}

.colors-for-notes{
    z-index: 1;
    display: flex;
    width: 300px;
}

.aside-btn{
    width: 90%;
    height:70px;
    grid-template-rows: 90px;
}
.aside-btn:hover{
    background-color: rgb(0 0 0 / 20%);
}

