.note-container {
    margin-top: 20px;
    column-count: 4;
    column-gap: 10px;
    row-gap: 10px;
    
    /* grid-auto-flow: column; */
    /* grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-flow: dense;
    grid-gap: 19px; */
}

.note{
    width: 300px;
    break-inside: avoid;
    flex-wrap: wrap;
    border-radius: 10%;
    padding: 40px;
    height: max-content;
    border: solid 1px #e0e0e0;
    display: grid;
    /* grid-template-areas:  
    'pin'
    'content'
    'note-buttens'; */
    position: relative;
    margin-bottom: 10px;
    
}

.note-div{
    height: max-content;   
}

.pin-div-btn{
    position: absolute;
    top: 0;
    right: 0;
}

.note-btns{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    position: absolute;
    bottom: 0;
}


.note-btn-txt{
    position: absolute;
    bottom: 5;
}

.note textarea{
    max-width: 260px;
    resize: none;
    background-color: rgba(240, 248, 255, 0);
    border: none;
}

.note:hover{
    box-shadow: 0px 0px 0px 2px #e0e0e0;
    
    
}

.note-btn {
    background-color: rgba(32, 125, 102, 0);
    border: none;
}



.add-note-section{
    width: 890px;
    text-align: center;
}

.note-btn:hover{
    background-color: rgb(0 0 0 / 54%);
    border-radius: 50%;
}

.note-app-main{
    grid-template-columns: 1fr 4fr;
}

aside{
    padding-top: 10%;
    grid-template-rows: 90px 90px 90px 90px;
}

.colors-for-notes{
    position:absolute;
    bottom: 40px;
    padding: 10px;
    background-color: #ffffff;
    border: solid 1px #e0e0e0;
    z-index: 1;
    display: flex;
    /* width: 300px; */
}

.google-color{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.google-color:hover{
    border: black solid 1px;

}

.aside-btn{
    width: 90%;
    height:70px;
    background-color: white;
    border: none;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    
}
.aside-btn:hover{
    background-color: rgb(0 0 0 / 20%);
}

.search-filter-notes{
    width: 400px;
    text-align: center;
    background-color: rgb(241 243 244);
}

.search-filter-notes button, input{
    background-color: rgb(241 243 244);
    border: none;
}

input:focus{
    width: 70%;
    /* background-color: white; */
}
